body{
    background-color: #f3e6ca;
    color:rgb(183, 39, 25);
    font-family: sans-serif;
    padding: 0;
    margin: 10;
}
h1{
    margin: 0 0 0 8px;
    padding-top: 8px;

}
.bar{
    background-color: #f8f3e9;
    padding:10px;
    display: flex;
}
.logo{
    width: 50px;
    height: 50px;
}
.container{
    margin-top: 30px;
    padding: 0 60px 0 60px;
}
.post{
    background-color: burlywood;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}
.post h4{
    color:crimson;
}

.post span{
    color:rgb(103, 21, 21);
}